<li class="list-group-item burgeritem">
	<div class="row">
		
			<div class="col-9 ">
				{{burger_name}}
			</div>
			<div class="col-3 btninline">
				{{#if devoured}}
				{{else}}
					<button class="burgerbtn change-devoured " data-id="{{id}}" data-newdevoured="{{devoured}}">Devour It!</button>
				{{/if}}

				<button class="burgerbtn delete-burger" data-id="{{this.id}}">x</button>
			</div>
		
	</div>
</li>
